@model ThAmCo.Events.ViewModels.Guests.Index

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@
@*<h2>@Model.CustomerName's Event Booking</h2>*@
@foreach(var item in Model.CustomerList)
{
<h2>
    @Html.DisplayFor(modelItem => item.Customer.FirstName)
    @Html.DisplayFor(modelItem => item.Customer.FirstName)'s Event Booking
</h2>
    break;
}

<p>
    <a asp-action="CustomerFilteredCreate">Create New</a>
</p>
<span>
    Total Number of Events: @Model.CustomerList.ToList().Count() <br>
    
    

</span>
<table class="table">
    <thead>
        <tr>
            @*<th>
                Customer Name
            </th>*@
            <th>
                Event
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.CustomerList)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.Surname)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attended)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { cid = item.CustomerId, eid = item.EventId }) |
                    @Html.ActionLink("Details", "Details", new { cid = item.CustomerId, eid = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { cid = item.CustomerId, eid = item.EventId })
                </td>
            </tr>
        }
    </tbody>
</table>
