@model ThAmCo.Events.ViewModels.Guests.Index

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="EventFilteredCreate">Create New</a>
</p>
<span>
    Total Number of Guests: @Model.CustomerList.ToList().Count() <br>
    Total Number of Attended Guests: @Model.CustomerList.Where(m => m.Attended).ToList().Count()

</span>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.EventTitle)*@
                Event
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CustomerName)*@
                Customer Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.CustomerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attended)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { cid = item.CustomerId, eid = item.EventId }) |
                    @Html.ActionLink("Details", "Details", new { cid = item.CustomerId, eid = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { cid = item.CustomerId, eid = item.EventId })
                </td>
            </tr>
        }
    </tbody>
</table>
