@model IEnumerable<ThAmCo.Events.Data.StaffBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Staff Booking</h2>

<p>
    <a asp-action="Create">Create New Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FirstName)
                @Html.DisplayFor(modelItem => item.Staff.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  sid=item.StaffId, eid=item.EventId  }) |
                @Html.ActionLink("Details", "Details", new {  sid=item.StaffId, eid = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new {  sid=item.StaffId, eid = item.EventId })
            </td>
        </tr>
}
    </tbody>
</table>
