@model ThAmCo.Events.ViewModels.Staffs.Index

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@

    @foreach (var item in Model.StaffList)
    {
    <h2>
        @Html.DisplayFor(modelItem => item.Staff.FirstName)
        @Html.DisplayFor(modelItem => item.Staff.Surname)'s Event Bookings
    </h2>
    <h4>
        Email : 
        @Html.DisplayFor(modelItem => item.Staff.Email)
    </h4>
        break;
    }


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.StaffId)*@
                Staff Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EventId)*@
                Event 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StaffList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                    @Html.DisplayFor(modelItem => item.Staff.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { sid = item.StaffId, eid = item.EventId })
                </td>
            </tr>
        }
    </tbody>
</table>
